[submodule "UraniumDeposit/Plugins/Uranium"]
	path = UraniumDeposit/Plugins/Uranium
	url = https://github.com/microdee/Uranium.git
	branch = main
[submodule "Nuke.Unreal"]
	path = Nuke.Unreal
	url = https://github.com/microdee/Nuke.Unreal.git
	branch = main
